.body {
    margin: 0;
    padding: 0;
}

.top {
    width: 70%;
    height: 30%;
    background-color: skyblue;
    margin: 0 auto;
    text-align: center;
}

.search {
    outline: none;
    border: lightgray solid 1px;
    height: 34px;
    width: 80%;
    margin-top: 15%;
    border-radius: 10px;
}

.btn{
    background-color: #fff;
    height: 34px;
    width: 15%;
    border: lightgray solid 1px;
    border-radius: 10px;
}


.search::placeholder {
    font-size: 16px;
}